# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/
production/

# =========================
# Build directories
# =========================
target/
build/
.gradle/

# =========================
# Compiled files
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# OS & Editor
# =========================
.DS_Store
.vscode/